body {
  background-image: url(https://thumbs.gfycat.com/HairyQueasyAcouchi-max-1mb.gif);
}
#site-header-name{
    font-size: 25px;
    letter-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(136, 35, 151, 0.54);
    
}
/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  rgba(111, 62, 147, 1) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
}*/
.container {
  display: flex; /* or inline-flex */
}

svg {   display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ccc; /*what color do we want here?*/

}






  